<html>
<form method="post" action="/main">
<p>
<input type="radio" name="pid" value="1">Player1
<input type="radio" name="pid" value="2">Player2
<input type="radio" name="pid" value="3">Player3
<input type="radio" name="pid" value="4">Player4
</p>
<p>
<input type="submit" value="login">
</p>
</html>
