<!DOCTYPE html>
<html>
<head>
<title>PGG Player<%= pid %></title>
</head>
<h1>You are Player<%= pid %></h1>
<form method="post" action="/main">
<p>
<input type="text" name="payment" maxlength="3">
<input type="submit" value="submit!">
</p>
</html>
